/* Header container */
.header {
    background-color: rgb(0, 87, 68);
    margin-right: auto;
    margin-left: auto;
    padding-top: 115px;
    padding-bottom: 115px;
  }
/* Our Mission container */
.ourMission{
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    width:100%;
    padding-top: 115px;
    padding-bottom: 115px;
  }
  
/* Header Font */
.headerFont{
      font-family: "Times New Roman", Times, serif;
      color: white;
      white-space: normal;
      font-size: 60px;
  }
  
/* Subheader Font - The text under the Header */
.subHeaderFont{
      font-family: "Times New Roman", Times, serif;
      color: rgb(170, 170, 170);
      font-size: 24px;
  }

.stockFontX3
{
    font-family: "Karla"; font-size: 38PX; font-weight: bold;
}

.stockFontX2
{
    font-family: "Karla"; font-size: 25PX;
}

.stockFontX1
{
    font-family: "Karla"; font-size: 15PX;
}

/* Black Border class to add a black border around the summery of the stock */
.blackBorder {
    border: 1px solid black !important;
    border-width:1px !important;
    width: 100px;
    height: 300px;
    padding:30px;
  }

  p {
    white-space: pre;
   }